# ! if you want to change the token key, make sure to update the token key in the backend as well
NEXT_PUBLIC_USER_TOKEN_KEY=token
NEXT_PUBLIC_USER_DATA_KEY=d_userData
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_SOCKET_URL=

# --> Basic auth <--
NEXT_PUBLIC_BASIC_AUTH_USERNAME=
NEXT_PUBLIC_BASIC_AUTH_PASSWORD=